@page
@model IndexModel
@{
    ViewData["Title"] = "Builtracker-7";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/estiloIndex.css" />

<head>
    <title></title>
</head>

<body>

    <div id="contenedor-1">
        <div>
            <span class="minititulo1">Comunicación</span>
            <p>
                Las herramientas para el equipo están diseñadas para <br />
                el proyecto, facilitando a todos una clara comprensión de <br />
                lo que se debe hacer cada día para cumplir con el programa <br />
                y no rehacer trabajos.
            </p>
            <span>+ Administra de forma eficiente el proyecto</span> <br />
            <a href="" class="bton1">Aprende más del software aquí</a>
        </div>
        <div>
            <span class="minititulo2">Acceso</span>
            <p>
                Ten la seguridad de que todas las partes involucradas <br />
                pueden acceder la información más reciente, en un espacio <br />
                seguro y en un formato comprensible.
            </p>
            <span>+ El historial da una idea clara a del proyecto</span> <br />
            <a href="" class="bton1">Aprende más del software aquí</a>
        </div>
    </div>
    <hr />

    <div class="contenedor-2">
        <img src="images/marca1.png" alt="Ejemplo 4 de noticia" />
        <img src="images/marca2.png" alt="Ejemplo 4 de noticia" />
        <img src="images/marca3.png" alt="Ejemplo 4 de noticia" />
        <img src="images/marca4.png" alt="Ejemplo 4 de noticia" />
    </div>

    <div class="contenedor-3">
        <span class="estadisticas-texto">Las estadísticas hablan por nosotros</span>
        <div class="porcentajes">
            <span>50 %</span>
            <span>70 %</span>
            <span>80 %</span>
        </div>
        <div class="porcentaje-texto">
            <p>
                han de nuestros clientes preferido nuestra <br />
                plataforma sobre cualquier otra
            </p>
            <p>
                de los desarrolladores afirman que tienen <br />
                más protección en una situación urgente.
            </p>
            <p>
                de los desarrolladores dice les ayuda a <br />
                organizar los procesos en todos los proyectos.
            </p>
        </div>
    </div>
    <footer id="color-completo">
        <div id="piepagina">
            <div class="contenedor-pie1">
                <div class="texto-conocer">
                    <span>Conoce Bluidtrack-7</span>
                </div>
                <div class="texto-subtitulo">
                    <span>Conectate con nosotros</span>
                </div>
            </div>
            <div class="contenedor-pie2">
                <span class="pie-descripcion">
                    Animate a descubrir más sobre
                    nosotros y como puedes comunicarte
                    en caso que sea necesario.
                </span>

                <span class="somos-pie">
                    Envia tu duda a soporte <br>
                    <a href="mailto:chivoblogn@gmail.com?subject=Contacto&body=Prueba email" class="enlace1">Click aquí para enviar email</a>
                    @*  <a href="quienes_somos.html" class="enlace1">Sobre nuestra empresa</a> *@
                </span>
            </div>
        </div>
    </footer>
</body>
