@page
@model proyecto02.Pages.Visual.GestionProyectosModel
@{
    ViewData["Title"] = "GestionProyectos";
}
<body>
    <header>
        <img src="~/images/recurso01.jpg" style="width:10%;height:100%" />
    </header>
</body>