@page
@model proyecto02.Pages.Visual.GestionProyectosModel
@{
    ViewData["Title"] = "GestionProyectos";
}
<div id="Servicios" style="width:300px; height:600px">
    <div><img src="/lib/imagenes/PortadaServicios.jpg"</div>
</div>