@page
@model proyecto02.Pages.Visual.HistorialModel
@{
    ViewData["Title"] = "Historial";
    
}
<table id="tablamuestra" style="border-collapse:separate">
    <tr>
        <td>Servicio |</td>
        <td>Estado |</td>
        <td>Precio</td>
    </tr>
</table>